# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Virtual environments
venv/
.venv/
env/
.env/

# Model pickle if regenerated, but we keep it since it's required to run the backend out-of-the-box
# backend/credit_model.pkl
